services:
  dev:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    environment:
      - DISPLAY=:0

    volumes:
      - .:/workspace
      - ${HOME}/.config/nvim:/home/node/.config/nvim
      - ${HOME}/.local/share/nvim:/home/node/.local/share/nvim
      - /mnt/wslg/.X11-unix:/tmp/.X11-unix

    working_dir: /workspace
    tty: true
    stdin_open: true

    command: bash -lc "sleep infinity"
